#cursor-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;border: 2px solid #ADD8E6; // initial color
    transition: border-color 1s ease; // smooth transition for border color
    background-color: transparent;  // Transparent background
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9999;
}
