@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: #1a1919;
    color: rgb(35, 31, 31);
    padding: 5px 0;
    text-align: center;

    nav {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 1.2em;

           
        }
    }

    .hero {
        h1 {
            font-size: 2em;
            margin-bottom: 10px;
            &:hover {
                animation: colorChange 1s;
            }
        }

        p {
            font-size: 1.2em;
        }
    }
}

@media (max-width: 600px) {
    .header {
        nav {
            flex-direction: column;

            a {
                margin: 10px 0;
            }
        }

        .hero {
            h1 {
                font-size: 2em;
            }

            p {
                font-size: 1em;
            }
        }
    }
}

@keyframes colorChange {
    from {
        color: currentColor;
    }
    to {
        color: rgb(91, 91, 226); // Replace #NewColor with the color you want
    }
}
