.footer {
  width: 100%;
  background-color: #1a202c;
  color: #a0aec0;
  position: relative;
  z-index: 10;
}
.footer .footer-container {
  max-width: 6xl;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer .footer-container {
    flex-direction: row;
  }
}
.footer .footer-block {
  margin-bottom: 1.5rem;
}
.footer .footer-block:last-child {
  margin-bottom: 0;
}
.footer .footer-block .footer-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer .footer-block .footer-heading {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.footer .footer-block .footer-links {
  list-style: none;
}
.footer .footer-copy {
  text-align: center;
  color: #718096;
  margin-top: 2rem;
  font-size: 0.875rem;
}
.footer .footer-copy p {
  margin: 0;
}

.footer {
  width: 100%;
  background-color: #1a202c;
  color: #a0aec0;
  position: relative;
  z-index: 10;
}
.footer .footer-container {
  max-width: 6xl;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer .footer-container {
    flex-direction: row;
  }
}
.footer .footer-block {
  margin-bottom: 1.5rem;
}
.footer .footer-block:last-child {
  margin-bottom: 0;
}
.footer .footer-block .footer-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer .footer-block .footer-heading {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.footer .footer-block .footer-links {
  list-style: none;
}
.footer .footer-copy {
  text-align: center;
  color: #718096;
  margin-top: 2rem;
  font-size: 0.875rem;
}
.footer .footer-copy p {
  margin: 0;
}
