@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.logo-3d {
  color: purple; /* Adjust the color to fit your scheme */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Gives a shadow to create a depth effect */
  font-size: 35px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.svg-background-div {
  background-image: url('C:\portfolioSite\my-portfolio\src\assets\splashVideo.mp4');
  background-size: cover; /* or contain, depending on your needs */
  background-repeat: no-repeat;
  /* other styling as needed */
}
.App {
  text-align: center;
}
.custom-letter-spacing {
  letter-spacing: 0.4em; /* Adjust as needed */
}
.custom-letter-spacing2 {
  letter-spacing: 0.12em; /* Adjust as needed */
  line-height: 120%;
  font-size: 4em;
  
}
.custom-shadow {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8); /* Adjust as necessary */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(54, 53, 50, 0.7); /* Adjust the color and size as needed */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo-circle {
  border-radius: 50%; /* Makes the image circular */
  overflow: hidden; /* Ensures the circle shape */
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin {
  animation: spin 4s linear infinite;
}

.App-link {
  color: #61dafb;
}
/*Hide coomponent if app detects mobile */
@media screen and (max-width: 600px) { /* Adjust 600px to your mobile breakpoint */
  .mobile-hide {
    display: none;
  }
}
/*Edit coomponent if app detects mobile to fit mobile screen */
@media screen and (max-width: 600px) { /* Mobile breakpoint */
  .mobile-responsive {
    flex-direction: column;
    width: 100%;
    max-width: 100%; /* Ensure elements don't exceed screen width */
    margin-left: 0; /* Adjust negative margins */
    margin-right: 0;
    padding: 10px; /* Adjust padding */
  }
  @media screen and (max-width: 600px) {
    .mobile-text {
      font-size: 24px;
    }
  }
 
  @media screen and (max-width: 600px) {
    .mobile-logo {
      margin-left:40px;
      font-size:10%;
    }
  }
    
  }




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateY {
  0% {
      transform: rotateY(0deg);
  }
  50% {
      transform: rotateY(180deg);
  }
  100% {
      transform: rotateY(360deg);
  }
}

.logo-3d:hover {
  animation: rotateY 3s infinite;
}

.features-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.feature-item {
  background-color: #2A2E35; /* Adjust color as needed */
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px; /* Adjust size as needed */
  text-align: center;
  min-height: 200px;
}

.feature-icon {
  background-color: #007BFF; /* Adjust icon background color as needed */
  border-radius: 50%;
  width: 60px; /* Adjust icon size as needed */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px; /* Center icon and add margin below */
  font-size: 30px; /* Adjust icon size as needed */
}

.feature-title {
  font-size: 24px; /* Adjust title size as needed */
  margin-bottom: 15px;
}

.feature-text {
  font-size: 18px; /* Adjust text size as needed */
  font-family: 'Montserrat';
}

@media screen and (max-width: 768px) {
  .features-container {
    flex-direction: column;
  }
  
  .feature-item {
    width: 80%; /* Adjust width on mobile */
    margin: 10px auto; /* Center in the viewport */
  }
}




