// HeaderSection.scss
.header-section {
  @media (min-width: 768px) {
    flex-direction: row;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden; // For any moving background effects
  
    
    
    .text-container {
      max-width: 60vw;
      position: relative;
      z-index: 2; // Ensure it's above any background effects
  
      h1 {
        font-size: 4rem;
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease;
        
        &:hover {
          transform: scale(1.05); // Slight zoom effect on hover
        }
      }
  
      p {
        font-size: 2rem;
        color: #f8f8f8;
        margin-bottom: 1rem;
      }
    }
  
    .image-content {
      max-width: 25vw;
      img {
        width: 50%;
        height: auto;
      }
    }
  
    .button-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: bottom;
      margin-top:auto;
  
      button {
        background-color: #4b6cb7; // Adjust color
        color: white;
        padding: 0.8rem 1.6rem;
        border: none;
        border-radius: 0.4rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #3b5a9a; // Darker shade on hover
        }
      }
    }

   
  }
  }
  @media screen and (max-width: 768px) {
    .header-section {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    }
      .text-container {
        position: relative;
        width: 95vw;
        
        padding-left: 0;
        padding-right: 0;
        z-index: 2;
        margin-bottom: 50%;
        h1{
          position: relative;
          margin:0;
          text-align: left;
          font-size:2.5rem;
          max-width:60%;
          
        }
        p {
          position: relative;
          margin-top: 10%;
          max-width:90vw;
          margin:0;
          text-align: left;
          font-size: 1rem;
          
          
        }
        
       
      }
      .button-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
       margin-top: 5%;
        justify-content: bottom;
        
        align-items: stretch;
        height:auto;
        button {
          background-color: #4b6cb7; // Adjust color
          color: white;
          padding: 1rem 1.6rem;
          border: none;
          border-radius: 0.4rem;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s ease;
    
          &:hover {
            background-color: #3b5a9a; // Darker shade on hover
          }
        }
      }
      .image-content {
        position:absolute;
       right:0;
       top:0;
        max-width: 50%;
        z-index:1;
        margin-top: 20%;
        img {
          
          
          padding:5%;
          width: 100%; // Adjusted for better visibility
          height: auto; // Center the image
          
        }
      }
  
      
    
    
  }