@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


// Variables
$primary-color: rgba(12, 12, 12,0.8);
$secondary-color: rgba(24, 34, 54, 0.8);
$tertiary-color: rgba(17, 21, 26, 0.8);
$font-family-base: 'Franklin Gothic Medium', 'Arial', sans-serif;
$font-family-accent: 'Great Vibes', cursive;



// Projects container
.projects-container {
  display: flex;
  flex-direction: column;
  height:100vh;
  max-height:130vh;
  width:80vw;
  margin-bottom: 10em;
  padding: 0; 
}
@keyframes flameAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}


// Hero background
.hero-background {
  margin: 0 ;
  padding: 0;
  position: absolute;
  left: 0;
  mask-image: url('../assets/flame.png'); // Replace with your flame image path
  mask-size: auto 130vh; // Adjust the size of the flame mask
  mask-position: center bottom; // Position the flame mask
  width: 100vw;
  max-height: 130vh;
  height: 100%;
  background-image: linear-gradient(10deg, 
                                    lighten($primary-color, 20%), 
                                    lighten($secondary-color, 20%), 
                                    $tertiary-color, 
                                    lighten($secondary-color, 20%), 
                                    lighten($primary-color, 20%));
  animation: flameAnimation 4s linear infinite forwards;
  background-size: 100% 300%;
  align-self: center;
  z-index: -5;

  &:before {
    content: "";
    animation:inherit;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 0;
    
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-grid{
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: start;
  
  
  width: auto;
}

// Section title
.section-title {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 4rem;
  font-family: $font-family-base;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

// Project description
.project-description {
  background: rgba(100, 125, 222, 0.85);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    z-index: 20;
  }
  p {
    line-height: 1.6;
    font-size: 1rem;
  }
}

// Project slider
.project-slider .slick-slide {
  border-radius: 0.5rem;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
}

// Media query
@media screen and (max-width: 768px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; /* Full viewport width */
    padding: 2rem 0; /* Add padding to top and bottom */
    margin: 5 ; /* Center the container */
    max-height: 100vh; /* Adjust height automatically */
    height:auto;
    
  }
  .project-grid{
    position: relative;
    align-items: center;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: start;
    
    
    max-width: 90vw;
  }
  
  // Section title
  .section-title {
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 4rem;
    font-family: $font-family-base;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 20;
  }
  
  // Project description
  .project-description {
    background: rgba(100, 125, 222, 0.85);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      z-index: 20;
    }
    p {
      line-height: 1.6;
      font-size: 1rem;
    }
  }
  .flex-col, .flex-row, .flex-row-reverse {
    flex-direction: column;
    align-items: center;
  }
  
}
